body, html {
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.login-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 450px;
}

h2 {
    color: #333;
    margin-bottom: 30px;
    font-size: 24px;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    color: #666;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 12px 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f8f8f8;
    font-size: 14px;
    color: #333;
}

.input-group input:focus {
    border-color: #007bff;;
    outline: none;
    background-color: #fff;
}

.login-button {
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #5a67d8;
}


