<!DOCTYPE html>
<html lang="en">
<head>
    <title>Settings</title>
    <link href="{{ url_for('static', filename='home.css') }}" rel="stylesheet">
</head>
<body>
    <div>
        <h1> Settings </h1>
        <h3> Hello, {{ username}} </h3>
        <form method="post" action="{{ url_for('settings') }}">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" value="Current username: {{ username }}">
            <button type="submit">Update</button>
        </form>
    
    </div>
</body>